
.if-main-container {
	position: relative ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 100% ;
}

.if-left-menu{
	position: absolute ;
	top: 0 ;
	min-height: 100% ;
	left: 0 ;
	width: 240px ;
	height: 100% ;
}

.if-router-view {
	// background-color : red ;
	padding: 30px 30px 60px 270px ;
	background-color: #F6F5D7 ;
	overflow-x: hidden ;
	overflow-y: auto;
}

